<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nayan.me.medipast">

    <uses-feature android:name="android.hardware.camera"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="me.nayan.me.medipast.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="me.nayan.me.medipast.RegistrationActivity">
        </activity>
        <activity android:name="me.nayan.me.medipast.DrListActivity">
        </activity>
        <activity android:name="me.nayan.me.medipast.AddDoctor">
        </activity>
        <activity android:name="me.nayan.me.medipast.AddMedicalHistory">
        </activity>
        <activity android:name="me.nayan.me.medipast.ShowMedicalHistory">
        </activity>
        <activity android:name="me.nayan.me.medipast.ShowDoctorDetails">
        </activity>
        <activity android:name="me.nayan.me.medipast.HistoryList">
        </activity>
    </application>

</manifest>